@model ComplanMVC.Models.Application

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/CompMaster.cshtml";
}

<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Insert Application</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel-body">
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <table class="table table-bordered" style="width: 800px;">
                        <tr>
                            <td>
                                State
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                City
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                Pan Number
                            </td>
                            <td>
                                @*@Html.EditorFor(model => model.PANNO)*@
                                @Html.TextBox("PANNO", @TempData["PANNO"])
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Adhar Number
                            </td>
                            <td>
                                @Html.TextBox("ADHARNO", @TempData["ADHARNO"])
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Passport Number
                            </td>
                            <td>
                                @Html.TextBox("PASSPORTNO", @TempData["PASSPORTNO"])
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Prev" name="Prev" class="btn btn-success" />
                                <input type="submit" value="Create" name="Create" class="btn btn-success" />
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
