@model ComplanMVC.EntityFrameworkModelClass.CityMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CityMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
